@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&family=Yeseva+One&display=swap');

body {
    width: 1140px;
    margin: 0 auto;
    padding: 0px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}


.half-width {
    width: 570px;
}

.top-banner {
    display: flex;
}

.top-banner-left {
    padding: 0px;
    margin: 0px;
}


.title h1{
    font-size: 60px;
    padding: 0px;
    border-left: 4px solid #FF5959;
    padding-left: 5px;
    font-family: 'Yeseva One', cursive;
}

.mission {
    color: #FFAD5A;
}

.top-banner-right img{
    width: 400px;
    margin-top: -53px;
    margin-left: 85px;
}