@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&family=Yeseva+One&display=swap');

body {
    width: 100vw;
    margin: 0;
    padding: 0px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}


.section-padding {
    padding: 10px 70px;
}

.half-width {
    width: 50%;
}

.top-banner {
    display: flex;
}

.top-banner-left {
    display: flex;
    padding: 0px;
    margin: 0px;
}


.title h1{
    font-size: 60px;
    padding: 0px;
    border-left: 4px solid #FF5959;
    padding-left: 5px;
}

.mission {
    color: #FFAD5A;
}

.top-banner-right img{
    width: 400px;
    margin: 0 auto;
}