@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@400;500;700&family=Yeseva+One&display=swap');

body {
    margin: 0 auto;
    padding: 0px 0px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}

.wrapper {
    width: 1140px;
    margin: 0 auto;
    padding: 50px 0px;
    color: #333333;
    font-family: 'Poppins', sans-serif;
}


.half-width {
    width: 570px;
}

.top-banner {
    display: flex;
}

.top-banner-left {
    padding: 0px;
    margin: 0px;
}


.title h1{
    font-size: 60px;
    padding: 0px;
    border-left: 4px solid #FF5959;
    padding-left: 5px;
    font-family: 'Yeseva One', cursive;
}

.mission-2022 {
    color: #FFAD5A;
}

.top-banner-right img{
    width: 400px;
    margin-top: -53px;
    margin-left: 100px;
}

.btn-sm {
    margin-top: 40px;
}

.btn-sm a {
    text-decoration: none;
    padding: 10px 30px;
    background: #FF5959;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}

.scroll-down-text {
    margin-top: 40px;
}

.mission {
    width: 360px;
    min-height: 376px;
    background-color: #4f9da64f;
    border-radius: 26px;
}

.vission {
    width: 360px;
    min-height: 376px;
    background-color: #ff59593a;
    border-radius: 26px;
}

.goals {
    width: 360px;
    min-height: 376px;
    background-color: #FFF4D6;
    border-radius: 26px;
}


.my-mission-title h1{
    text-align: center;
    font-size: 48px;
    font-weight: 700;
}

.my-mission-box {
    display: flex;
    gap: 15px;
    justify-content: center;
}

.mission {
    padding: 10px 30px;
}

.mission-img {
    width: 126px;
}

.vission {
    padding: 10px 30px;
}

.goals {
    padding: 10px 30px;
}

.develop-area {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 60px;
    padding: 10px;
}

.develop-area-img {
    width: 500px;
    min-height: 500px;
    background-repeat: no-repeat;
    background-size: 40%;
}

.develop-area-img img{
    width: 400px;
    margin-left: 50px;
    margin-top: -20px;
}

.develop-area-text {
    width: 640px;
    min-height: 500px;
}

.develop-area-text h1{
    font-size: 36px;
    font-weight: 700;
}

.develop-area-text-2 {
    margin-top: -100px;
}

.develop-area-img-2 {
    background-position: right;
    background-size: 30%;
}

.develop-area-img-2 img{
    margin-top: -130px;
}

.email {
    display: flex;
    margin-top: -130px;
    margin-bottom: 50px;
}

.email-img img {
    width: 500px;
}

.email-text h1{
    font-size: 36px;
    font-weight: 700;
}

footer {
    height: 108px;
    background-color: #0B0D17;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.footer-text {
    color: rgb(88, 88, 88);
    text-align: center;
}

.footer-text h1{
    font-family: 'Lobster', cursive;
    color: white;
}

.footer-2022 {
    color: #FF5959;
}